.button-add-to-cart {
    background-color: var(--Rose-50);
    border: 1px solid var(--Rose-500);
    color: var(--Rose-900);
    
    font-weight: var(--Weight700);
    border-radius: 50px;

    position: absolute;
    padding: 15px 20px;
    width: 195px;
    bottom: 84px;
    height: 55px;
    
    display: flex;
    gap: 10px;
    align-self: center;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.button-add-to-cart:hover{
    color: var(--Red);
    border: 1px solid var(--Red);
}


.txt-add-to-cart {
    font-weight: var(--Weight700)    
}

.txt-add-to-cart:hover {
    color: var(--Red);
}