.button-count-quantity {
    background-color: var(--Red);
    font-weight: var(--Weight600);
    color: var(--Rose-900);
    border: 1px solid var(--Rose-500);
    padding: 15px 20px;
    border-radius: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 84px;
    color: var(--Rose-50);
    justify-content: space-between;
    cursor: pointer;
    width: 195px;
    height: 55px;

}

.increment {
    width: 22px;
    height: 22px;
    border: 1.5px solid var(--Rose-50);
    padding: 4px;
    border-radius: 50px;
}

.decrement {
    width: 22px;
    height: 22px;
    border: 1.5px solid var(--Rose-50);
    padding: 5px;
    border-radius: 50px;
}

.disable {
    opacity: 0.4;
    cursor: no-drop;
    width: 22px;
    height: 22px;
    border: 1.5px solid var(--Rose-50);
    padding: 5px;
    border-radius: 50px;
}

.quantityProduct {
    color: var(--Rose-50);
}