.Unselected {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 32px;
}

.selected{
    margin-bottom: 32px;
    border-radius: 10px;
    border: 3px solid var(--Red);
}

.item {
    margin-top: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.category {
    color: var(--Rose-500);
    margin-top: 5px;
}

.name {
    color: var(--Rose-900);
    font-weight: var(--Weight700);
}

.price {
    color: var(--Red);
    font-weight: var(--Weight600);
}