.cart-empty {
    color: var(--Rose-500);
    font-weight: var(--Weight600);
}

.cart-empty-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;

    height: 275px;
} 
    

.img-empty {
    width: 160px;
}

@media screen and (max-width: 450px) {
    .img-empty {
        width: 150px;
    }
}